/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

#loadingGif{
    display: none;
}

#modalProdutos .modal-dialog{
    width: 70%;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0;
    font-family: Courgette, cursive;
    margin-top: 1em;
}

/* Home Page Carousel */

header.carousel {
    height: 36%;
    margin-top: 30px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 84%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


#supermercadoHidden{
	display: none;
}
.aguardandoAprovacao{
    position: absolute;
}

.hiddenProduct{
    opacity: 0.4;
}

.hidden{
    display: none;
}

.titleH2{
    margin-top: 60px;
}

#chartdiv {
    width   : 100%;
    height  : 500px;
}   

p.desbloquearAcesso{
    margin-top: 30px;
}


p.desbloquearAcesso a{
    margin: 30px 0;
    text-decoration: none;
    color: #000;
}


.tempoRestante{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    float: right;
    height: auto;
    width: 120px;
    margin: -30px -20px 0 0;
}

.tempoRestante i.fa-clock-o{
    font-size: 10px;
}

#contador{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    float: right;
    height: auto;
    width: 100px;
    margin: -20px -20px 0 0;
}

i.fa-clock-o{
    font-size: 16px;
}

.tempoRestanteDestaque , .contadorDestaque{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #f2f2f2;    
}

.addProduto{
    color: #000;
    position: absolute;
    margin: 2% 0 0 -1%;
    cursor: pointer;
    font-size: 22px;
}

nav{
    height: 80px;
}

.navbar-inverse{
    background-color: #000;
}

.navbar-collapse{
      background-color: #000;  
}

.portfolio-item{
    width: 31%;
    height: 220px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #ccc;
    margin: 1%; 
}

.blocos_favoritos{
  width:31%; 
  margin: 1%;
  display:inline-block;
}
.blocos_favoritos button{
    margin:5px 4px;
}
.blocos_favoritos .portfolio-item{
    width: 96%;
}

.portfolio-supermercado{
    width: 31%;
    height: 220px;
    background-color: #FFF;
    margin: 1%;
}

.portfolio-supermercado img{
    margin: 20px auto;
}

.blackItem{
    position: absolute;
    margin: 0 0 0 78%;
    width: 60px;
    height: auto;
    opacity: 0.2;
}

.marcaDagua{
    position: absolute;
    margin: 20% 0 0 78%;
    width: 60px;
    height: auto;
    opacity: 0.1;    
}

.blackItemOn{
    position: absolute;
    margin: 0 0 0 78%;
    width: 60px;
    height: auto;
    opacity: 1;
}

.portfolio-item .img-portfolio{
    margin: 6% auto;
    width: auto;
    height: 100px;
    cursor: pointer;
}

.portfolio-item a{
    color: #000;
    text-decoration: none;
}

.productDescription{
    font-weight: 500;
    font-size: 1em;    
    color: #333;
    text-decoration: none;
}

.productPrice{
    color: #e60014;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.productSupermercado{
    color: #737373;
    font-weight: 400;
    font-size: 10px;  
    margin: -14px 0 0 0;  
}

.navbar-brand img{
    margin-top:-15px;
}

#containerSearch{
    margin: 1.2% 0 0 7%;
    width: 130%;
}

#containerSearch input{
    height: 50px;
    border-radius: 6px 0  0 6px;
}

#containerSearch button{
    height: 50px;
    border-radius: 0 6px 6px 0;
} 

.img-portfolio {
    margin-bottom: 30px;
}

.navbar-inverse .navbar-nav{
    margin-top: 1%;
}

.img-hover:hover {
    opacity: 0.8;
}

#topProduto ul li{
    color: #808080;    
}

.topProdutoDescricao{
    color: #404040;
    font-size: 28px;
    margin: 0;
}

.topProdutoPreco{
    color: #e60014;
    font-weight: bold;
    font-size: 2em;    
    margin-bottom: 2%;
}

.topProdutoSupermercado{
    margin: 0;
    color: #808080;
}

.infoPublicacao{
     font-size: 14px;
     color: #404040;   
     text-align: center;
     cursor: pointer;
}

.containerTopProduto{
    width: 50%;
    height: auto;
}

.imagemDestaqueProduto{
    width: 100%;
}

.imagemDestaqueMarca{
     width: 100%;  
     float: right;
}

.imagemTopProduto{
     width: 30%;  
     float: right;
}

h1.page-header{
    font-size: 26px;
}
.page-header{
    margin: 4% 0 0 0;
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    bottom: 0;
    margin: 50px 0;
}


/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
  
#myModal .modal-dialog {
    margin: 3% auto;
    width: 80%;
}  

#myModal  #login-modal .modal-dialog {
    margin: 3% auto;
    width: 350px;
    height: 100%;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

#myModal .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

#myModal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

#myModal .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

#myModal .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}

.fa-star{
    color:#FFD700;
}
.button_menu{
    background-color:#000;
    border:none;
    float:left;
    margin-top: 20px;
}
.button_menu:hover{
   background-color:#FFF;
   border-radius:3px;
}
.button_menu:active{
    background-color:#000;
}
.button_menu:hover span{
    color:#000;
}
.button_menu span{
    color:#FFF;
    font-size:22px;
}

/* Responsive Styles */

@media(max-width:991px) {


    #modalProdutos .modal-dialog{
        width: 94%;
    }


    .portfolio-item{
        width: 96%;
    }

    .button_menu{
        margin-top: 10px;
    }

    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
    .navbar-brand img{
      margin-top:-14px;
      width: 50px;
      height: 50px;
    }

    nav{
        height: 40px;
    }    

    #containerSearch{
        margin: 0;
        width: 100%;
    }

    header.carousel {
        margin-top: 0px;
        display: none;
    }

    .blocos_favoritos,.portfolio-supermercado{
        width: 98%;
    }

    .containerTopProduto{
        width: 100%;
    }

    header.carousel .fill {
        width: 100%;
        background-position: center;
        background-size: cover;        
    }
    .page-header{
        font-size: 22px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

